@import "tailwindcss";

:root {
  --background: 0 0% 5%;
  --foreground: 0 0% 98%;
}

body {
  @apply bg-[#0a0a0a] text-white antialiased;
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
